<h2>About "Hours"</h2>

<p>This site is a test/demo MVC project in ASP.NET. 
   The idea is to allow employee accounts to punch in and out of a day's work. 
   Administrators may view reports of how long the employees worked each week, and determine how many hours would be considered overtime.</p>

<p>
    There are a few accounts created already that you may use to test things out:
    <ul>
        <li><b>Administrator</b> - admin@example.com/admin - gets to view a report on either employee</li>
        <li><b>Honest Abe</b> - honestabe@example.com/password1 - generally shows up on time, takes a reasonable lunch, leaves when day is done</li>
        <li><b>Lazy Bob</b> - lazybob@example.com/password2 - typically shows up a bit late, calls off a lot, and engages in all manner of disreputable behavior (not tracked)</li>
    </ul>
</p>
