@{
    ViewBag.Title = "About Hours";
}

<h2>About "Hours"</h2>

<p>This site is a test/demo MVC project in ASP.NET. 
   The idea is to allow employee accounts to punch in and out of a day's work. 
   Administrators may view reports of how long the employees worked each week, and determine how many hours would be considered overtime.</p>

<p>
    There are a few accounts created already that you may use to test things out:
    <table class="table">
        <tr><th>Name</th><th>username (email)</th><th>password</th><th>description</th></tr>
        <tr><td>Honest Abe</td><td>honestabe@example.com</td><td>password1</td><td>generally shows up on time, takes a reasonable lunch, leaves when day is done</td></tr>
        <tr><td>Lazy Bob</td><td>lazybob@example.com</td><td>password2</td><td>typically shows up a bit late, calls off a lot, and engages in all manner of disreputable behavior (not tracked)</td></tr>
    </table>
</p>
